.container {
  background-color: white;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444444;
}

.heading {
  font-size: 2rem;
  color: #ae007d;
}

.dropZone {
  margin-top: 40px;
  width: 600px;
  min-height: 100px;
  font-size: 4rem;
}

.card {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: solid 2px #ae007d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  object-fit: cover;
}
.row {
  width: 1000px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.model {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
